* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-default);
  color: hsl(var(--clr-black));
  transition: all 0.2s linear;
  z-index: 10;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

i.icon {
  color: inherit;
  font-size: var(--fs-400);
}

/* /////////////////////////
  UTITILY CLASSES
///////////////////////// */

@media screen and (min-width: 480px) {
  .mobile-only {
    display: none;
    position: absolute;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}
/* Hide on Mobile (Show only on Tab & Desktop) */
@media screen and (max-width: 480px) {
  .tab-desk-only {
    display: none;
    position: absolute;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

/* Hide on Tablet (Show only on Mobile & Desktop) */
@media screen and (min-width: 480px) and (max-width: 1023px) {
  .hide-on-tab-only {
    display: none;
    position: absolute;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

/* Hide on Desktop (Show only on Mobile & Tablet) */
@media screen and (min-width: 1024px) {
  .mobile-tab-only {
    display: none;
    position: absolute;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

/* Hide on Mobile & Desktop (Show only on Tablet) */
@media screen and (max-width: 479px), (min-width: 1024px) {
  .tab-only {
    display: none;
    position: absolute;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

/* Hide on Mobile & Tablet (Show only on Desktop) */
@media screen and (max-width: 1023px) {
  .desktop-only {
    display: none;
    position: absolute;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}
