.auth-main {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: auto;
}

.auth-main .main-sec {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  gap: 3.2rem;
  padding: 6.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

@media screen and (min-width: 480px) {
  .auth-main .main-sec {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.auth-main h1 {
  font-size: var(--fs-800);
  margin-bottom: 1rem;
}

.auth-main p {
  margin-bottom: 1.2rem;
}

.auth-main p:last-of-type {
  margin-bottom: 0;
}

.auth-main form {
  margin-top: 0.8rem;
}

.auth-main .one-tap-options {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.auth-main .one-tap-btn {
  font-size: var(--fs-400);
  font-weight: 500;
  border-radius: 100rem;
  text-transform: none;
}

.auth-main form .btn-box {
  display: flex;
  gap: 1.6rem;
}

.auth-main form .btn-box button.primary {
  flex: 1;
}
