.home-sec .large-ctas {
  display: flex;
  gap: 1.6rem;
}

.home-sec .large-ctas a {
  flex: 1;
}
.home-sec .large-ctas button {
  min-height: 12rem;
}

.home-sec .local-report-card-sec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.6rem;
}

.item-card {
  border: 1px solid hsl(var(--clr-neutral-200));
  border-radius: 0.8rem;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.item-card:hover {
  scale: 1.01;
  box-shadow: 0px 2px 6px 0px hsla(var(--clr-neutral-200), 75%);
}

.item-card .preview {
  background-color: hsl(var(--clr-neutral-150));
  height: 24rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 4.8rem;
}

.item-card .preview img {
  user-select: none !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-card .details {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  align-items: center;
  padding: 0.8rem;
}

.item-card .details > div {
  flex: 1;
  width: 0;
}

.item-card .details .name {
  font-size: var(--fs-400);
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-card .details .time {
  font-size: var(--fs-300);
  color: hsl(var(--clr-neutral-600));
}

.lost-item-form-sec {
  max-width: fit-content;
  margin: auto;
}

.lost-item-form-sec form {
  width: 100%;
  max-width: 60rem;
  padding: 2.4rem 0;
}
